<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Principal</title>
</head>
<body>
  <!--ACA EMPIEZA LA NAV BAR-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="app.component.html">Best<sub>Game</sub></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="app.component.html">Juegardo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="app.component.html"> No lo niege es Juegardo</a></li>
              <li><a class="dropdown-item" href="app.component.html"> Es mejor que el Hades</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--ACA TERMINA LA NAV BAR-->
  <div class="container">
    <h1>La mejor resena del juego</h1><br><br>
    <img class="card-img-top"
      [src]='imagen'
      alt="Card image cap"><br><br>


    <button [ngStyle]="{'background-color': '#4CAF50'}" (click)="eventoBoton1($event)">Apretame</button>

    <section class="section" (scroll)="scrollEn($event)">
      Uno de los juegos que pasaron con poco ruido este año fue Hollow Knight, desarrollado por Team Cherry, las cuales
      tomaron lo mejor de varios títulos del género para plasmarlo en el suyo y crear una joya. Hollow Knight es uno de
      los mejores juegos Indies que han salido el último tiempo, tomando un estilo artístico único y con un control
      excelente.

      Es sorprendente el trabajo que se dieron las tres personas encargadas de hacer tamaño título, pero ¿De qué
      exactamente hablamos? Hollow Knight es un juego estilo “Metroidvania” con un estilo de arte muy parecido al
      trabajo de Tim Burton, el cual consta de recorrer pasillos inundados de enemigos, obstáculos, jefes, saltos
      imposibles, power ups, etc.; en un mundo oscuro, tenebroso, con más de 140 tipos de enemigos que lo único que
      quieren es aniquilarte. Hollow Knight se convierte en un verdadero desafío, mientras más avanzas por el juego,
      pero ¿Es tan mala la oscuridad?
    </section>
    <img [src]="imagen2" [height]="alto" [width]="ancho">
    <br><br>


  </div>


</body>

</html>
